<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/icons/icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/google-dark.min.css" />
        <!-- <link rel="stylesheet" href="/static/icons/fontawesome-pro-6.5.1-web/css/all.min.css"> -->
        {{ viteCSS "resources/src/app.ts" }} {{ .inertiaHead }}
    </head>

    <body class="font-sans antialiased">
        {{ .inertia }}
        <!-- inject viteJS here -->
        {{ viteJS "resources/src/app.ts" }}
        <!-- / inject viteJS here -->
    </body>
</html>
